*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #ff7800;
}

.btn{
    margin-left: 20px;
}

#show-place-infos{
    display: none;
}